<section class="section bg-secondary">
  <div class="container text-justify">
    <div class="row row-grid align-items-center">

      <div class="col-md-6">
        <div class="card bg-default shadow border-0">
          <img src="./assets/img/theme/img-1-1200x1000.jpg" class="card-img-top">

          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                 class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-default"/>
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"/>
            </svg>
            <h4 class="display-3 font-weight-bold text-white">Notre philosophie</h4>
            <p class="lead text-italic text-white">
              AddixWare réinvente le modèle des sociétés d’ingénierie informatique en revendiquant des
              valeurs humanistes et en les incarnant.
            </p>
          </blockquote>

        </div>
      </div>

      <div class="col-md-6">
        <div class="pl-md-5">

          <p class="lead">
            Depuis 2010, nos consultants développent des logiciels, et nous, nous les aidons à
            développer leur potentiel.
          </p>
          <p>
            Rejoindre AddixWare, c’est faire partie d’une équipe d’experts et de passionnés qui veulent
            donner du sens à ce qu’ils font et qui ont la volonté d’améliorer le monde grâce aux
            nouvelles technologies et à l’informatique.
          </p>
          <p>
            AddixWare révolutionne le marché et vous permet en tant que consultant de gérer votre
            carrière. Nous vous laissons le choix des projets technologiques sur lesquels vous souhaitez
            intervenir et vous épanouir.
          </p>

          <p>
            AddixWare a le plaisir de vous annoncer que nous avons été labellisé Happy At Work 2019 avec
            une moyenne de 4,47/5 avec un taux de recommandation de 96 %. Nous souhaitons remercier tous
            nos collaborateurs qui ont pris le temps de répondre à l’enquête afin que nous puissions
            recevoir ce label. C’est également pour nous l’occasion d’améliorer les conditions de
            travail de nos salariés et de nous assurer que ce qu’ils font a toujours du sens.
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
