<section class="section section-lg">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6 order-md-2">
        <img src="./assets/img/theme/promo-1.png" class="img-fluid floating">
      </div>
      <div class="col-md-6 order-md-1">
        <div class="pr-md-5">
          <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
            <i class="ni ni-settings-gear-65"></i>
          </div>
          <h3>AddixWare</h3>
          <p class="text-justify">
            est une ESN spécialisée et reconnue sur les technologies orientées objets. Nous sommes une
            équipe
            d'experts et de passionnés en développement Java, Microsoft .Net, C++, PHP, Android et
            Objective C.
          </p>
          <ul class="list-unstyled mt-5">
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3">
                    <i class="ni ni-headphones"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Télécommunication</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3">
                    <i class="ni ni-send"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Transport</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Aéronautique</h6>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
