<main class="profile-page">

    <section class="section section-lg bg-gradient-default pb-300">
        <div style="padding-top: 16rem!important;"></div>
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>

    <section class="section pt-lg-0 mt--300">
        <div class="container">

            <div class="card card-profile shadow ">

                <div class="px-1">

                    <div class="row justify-content-center pb-300">
                        <div class="col-lg-5 order-lg-5 align-self-lg-center">
                            <div class="card-profile-image">
                                <img src="./assets/img/theme/sponso1.jpg">
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <h3>AddixWare sponsor de Laura Clergue, Championne de Padel</h3>
                    </div>

                    <div class="mt-5 py-5 border-top text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-9 text-justify">

                                <p>
                                    Issue d'une prépa Maths Physique sur Marseille avant d'intégrer l'école d'ingénieurs
                                    de Lyon : l'École Nationale des Travaux Publics de l'Etat durant laquelle elle s'est
                                    orientée dans le domaine des transports. Elle est, depuis un peu plus de quatre ans,
                                    ingénieure chez Cerema (Centre d'études et d'expertise sur les risques,
                                    l'environnement, la mobilité et l'aménagement) basée aux Milles dans les Bouches du
                                    Rhône. Elle a l'habitude de dire qu'elle mène une double vie, une vie divisée entre
                                    sa carrière professionnelle et sa carrière sportive.
                                    Quid de son parcours sportif ?
                                </p>

                                <p>
                                    Laura pratique le tennis depuis l'âge de 5 ans et s'habitue assez jeune à la
                                    pratique intensive du sport et à la compétition. Suite à une phase de remise en
                                    question elle découvre le Padel avec son frère et se lance à fond dans cette
                                    discipline. Quelques temps après, avec sa coéquipière actuelle, Audrey Casanova,
                                    elles sont sacrées championnes de France et vice-championnes d'Europe par équipe en
                                    2015. Elles intègrent le TOP 100 mondial, et réalisent au mois d'octobre 2016 le
                                    doublé et sont de nouveau championnes de France 2016. Puis en novembre 2016, elles
                                    arrivent en 1/8eme de finale du championnat du monde par équipe au Portugal.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6" id="left">
                            <iframe src="https://www.youtube.com/embed/H0T7CoaZoYo"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>

                        <div class="col-lg-6" id="right">
                            <iframe src="https://www.youtube.com/embed/anfEDi3dj3E"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>

                    <div class="text-center">
                        <h3>Interview</h3>
                    </div>

                    <div class="mt-5 py-5 border-top text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-9 text-justify">

                                <p>
                                    <b>
                                        Bonjour Laura, comment vis-tu ton ascension professionnelle dans le Padel tout
                                        en étant ingénieure ?
                                    </b>
                                </p>

                                <p>
                                    Mon palmarès, mes différentes rencontres au cours de ces deux dernières années, ont
                                    été pour moi un déclic. J’ai envie d’évoluer dans le milieu professionnel du Padel,
                                    j’ai envie de me challenger, j’ai envie de changer de vie pour ne pas avoir de
                                    regret et me donner les moyens de vivre cette passion à fond. Il me semble que c’est
                                    Confucius qui a dit, fais de ta passion ton métier et alors tu n’auras plus jamais
                                    l’impression de travailler. Ainsi pendant 1 an j’ai pris la décision de mettre ma
                                    carrière professionnelle entre parenthèses et de me former au métier de joueuse de
                                    Padel de haut niveau. J’ai l’immense chance d’être accueillie l’année prochaine dans
                                    l’académie tenue par Gaby Réca et Monte Carlo international sport à Madrid. Ce sont
                                    des personnes en qui j’ai une confiance absolue et qui vont pouvoir m’apprendre
                                    beaucoup. Mon rythme sera intensif, à raison de 2 entrainements de Padel par jours
                                    auxquels s’ajoutent l’entrainement physique. Mon projet consiste, en parallèle, à
                                    jouer le circuit pro de Padel (appelé le World Padel Tour).
                                </p>

                                <p><b>Comment s’est passée ta rencontre avec l’équipe d’AddixWare ?</b></p>

                                <p>
                                    Le fondateur et dirigeant d’AddixWare, Frédéric Ferlita cherchait des sportifs aux
                                    projets innovants et passionnants pour représenter les valeurs de sa société. Il m’a
                                    proposé de me sponsoriser et j’avoue avoir pour ma part particulièrement accroché
                                    avec cette entreprise qui met l’épanouissement de ses salariés au cœur de sa
                                    stratégie de développement tout en recherchant des projets passionnants pour ses
                                    ingénieurs. Comme dans le Padel, pour AddixWare l’esprit d’équipe est une notion
                                    très importante afin de fédérer ses ingénieurs autour de l’informatique.
                                    Ainsi je suis ravie de ce partenariat et j’ai adoré pouvoir faire découvrir ma
                                    passion aux salariés d’Addixware lors d’une journée découverte qui s’est déroulée en
                                    2017.
                                </p>

                                <p><b>Comment vois-tu l’avenir ?</b></p>

                                <p>
                                    Mon objectif pour l’année prochaine est de continuer ma progression dans le
                                    classement pro en essayant d’intégrer le TOP50 mondial. En parallèle je ferai tout
                                    pour défendre mon titre de championne de France en 2017 toujours avec Audrey et
                                    d’aider au maximum au développement de ce sport exceptionnel en France.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <h3>Le padel</h3>
                    </div>

                    <div class="mt-5 py-5 border-top text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-9 text-justify">

                                <p>
                                    Sport autant physique que stratégique soutenu par la Fédération Française de Tennis.
                                    Originaire du Mexique c’est un mélange entre le tennis et le squash qui se joue
                                    seulement en double. En Espagne, le Padel a un succès fou, il est le second sport
                                    national après le foot. C’est un sport très ludique, dans lequel l’aspect tactique
                                    et la cohésion d’équipe sont très importants.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <h3>La rencontre avec Laura</h3>
                    </div>

                    <div class="mt-5 py-5 border-top text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-9 text-justify">

                                <p>
                                    Frédéric Ferlita, passionné par le squash a découvert le Padel et par son réseau a
                                    été présenté à Laura. 3 raisons ont motivé sa décision de sponsoriser Laura :
                                </p>

                                <div>
                                    <ul>

                                        <li class="list-sponsoring">
                                            Déjà précurseur dans l’accompagnement des consultants informatiques avec une
                                            écoute attentive des besoins, des séances de coaching personnalisés, une
                                            valorisation des valeurs humaines dans l’entreprise, l’équipe d’AddixWare
                                            veut affirmer son engagement en accompagnant une jeune ingénieure qui veut
                                            faire de sa passion son métier, comme ils accompagnent au quotidien les
                                            informaticiens sur les projets qui les passionnent
                                        </li>

                                        <li class="list-sponsoring">
                                            AddixWare se reconnait dans les valeurs du Padel, sport d’équipe,
                                            stratégique, précurseur
                                        </li>

                                        <li class="list-sponsoring">
                                            Accompagner un sport émergeant (en France), participer à son évolution comme
                                            AddixWare participe à faire évoluer le métier du service informatique.
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>

</main>
