<div class="card card-lift--hover shadow border-0">
  <div class="card-body py-5 text-justify">

    <div class="icon icon-shape icon-shape-{{state}} rounded-circle mb-4">
      <i class="ni ni-{{icon}}"></i>
    </div>

    <h6 class="text-{{state}} text-uppercase">{{title}}</h6>
    <p class="description mt-3">{{content}}</p>

    <div>
      <p class="agence">{{group.name}}</p>
      <p class="agence">{{salary}}</p>
      <span *ngFor="let techno of technos" class="badge badge-pill badge-{{state}}">{{techno.name}}</span>
    </div>

  </div>
</div>
